<VirtualHost *:80>
    ServerName {{ ansible_hostname }}
    DocumentRoot /srv/wordpress

    <Directory /srv/wordpress>
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog {{ apache_log_dir }}/wordpress_error.log
    CustomLog {{ apache_log_dir }}/wordpress_access.log combined
</VirtualHost>
